.footer-wrapper
{
 height:auto;
 /* background-color: #e4c2fe; */
 width: 100%;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;

}
.footer-upper{
 display: flex;
 flex-direction: row;
 /* align-items: center; */
 justify-content: space-between;
}
hr{
  border: none; /* Remove default border */
            height: 1.5px; /* Set line thickness */
            background-color: #484848; /* Set line color */
            width: 100%; /* Set line width */
            margin: 20px auto; /* Add spacing and center align */
}
.footer-wrapper p{
 line-height: 0.8rem;
}
@media (max-width:720px) {
 /* .footer-wrapper{
  flex-direction: column;
 } */
  .footer-upper{
   flex-wrap: wrap;
  }
}